<!DOCTYPE html>

<html>
<body>

<h1>User Functions</h1>
<form>
<button type="submit" formaction="https://www.w3schools.com/html/">New user</button><br>
<br>

<button type="submit" formaction="https://www.w3schools.com/html/">create account</button><br>
<br>
<button type="submit" formaction="https://www.w3schools.com/html/">take loan</button><br>
<br>
<button type="submit" formaction="https://www.w3schools.com/html/">withdraw/deposit</button><br>
<br>
<button type="submit" formaction="https://www.w3schools.com/html/">loan transaction</button><br>
<br>
<button type="submit" formaction="https://www.w3schools.com/html/">amount in account</button>


</form>
</body>
</html>
